window {
    background-color: #cc0000;
}

dialog {
    background-color: #cc0000;
}

box, messagedialog, .dialog-vbox {
    background-color: #cc0000;
}

label {
    color: white;
    font-weight: bold;
}

button {
    background-color: #550000;
    color: white;
    border: 1px solid #880000;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 24px;
}

button:hover {
    background-color: #ff3333;
}

button:disabled {
    background-color: #888888;
    color: #bbbbbb;
    border: 1px solid #aaaaaa;
}
